@import "tailwindcss";

@theme {
  --color-black: #020408;
  --color-black-2: #030b08;
  --color-deep-green: #06150f;
  --color-green-bg: #092218;

  --color-purple: #a855f7;
  --color-purple-bright: #c084fc;
  --color-blue: #5b8cff;
  --color-cyan: #38d9ff;

  --color-green: #19d66b;
  --color-green-bright: #32ff88;

  --color-white: #f4f7f8;
  --color-muted: #84938e;
  --color-muted-2: #53635d;

  --color-red: #ff4d5e;

  --color-border: rgba(255, 255, 255, .10);
  --color-border-green: rgba(25, 214, 107, .20);

  --mono: "IBM Plex Mono", monospace;
  --sans: "Inter", sans-serif;
}

@theme {
  --font-headings: var(--font-chakrapetch);
  --font-space: var(--font-space-grotesk);
  --font-Inter: var(--font-Inter);

}
h1 {
  font-size: 66.07px;
  font-weight: 500;
}

h2 {
  font-size: 40.96px;
}

h3 {
  font-size: 32.25px;
}

h4 {
  font-size: 25.4px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 15.74px;
}

p {
  font-size: 15.74px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #020408;
  font-family: "Inter", sans-serif;
}

@keyframes binaryFall {
  0% {
    transform: translateY(-20%);
  }

  100% {
    transform: translateY(120%);
  }
}

@keyframes scan {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
